* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body {
    display: flex;
    /* width: 100%; */
    /* background: linear-gradient(
      to right,
      #6a82fb,
      #fc5c7d
    ); */
    /* background-color: #f7ff00; */
    justify-content: center;
    text-align: center;
  }
  .login-box {
    width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 100px;
    background: linear-gradient(
      to right,
      #ef8e38,
      #108dc7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }
  h2 {
    padding: 20px;
    margin: 0 0 30px;
  }
  .login-box .user-box {
    padding: 20px;
  }
  .login-box .user-box input {
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 0;
  }
  input::placeholder {
    color: #536976; /* fallback for old browsers */
    color: -webkit-linear-gradient(
      to right,
      #292e49,
      #536976
    ); /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(
      to right,
      #292e49,
      #536976
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 15px;
    font-weight: 100px;
  }
  
  /* Button */
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
  }
  .login-box button{
    width: 150px;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
    background-color: #fc5c7d;
    border:  none;
    cursor: pointer;
  }
  /* child 2 */
  .login-box a span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f7ff00);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  /* child 4 */
  .login-box a span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 3px;
    height: 100%;
    background: linear-gradient(270deg, transparent, #f7ff00);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }

  @media (max-width: 477px) {
    .login-box{
      margin: 70px auto;
      width: 90%;
    }
  }