.Profile-FeedBox{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    gap: 0.8rem;
    height: auto;
}
.profile-info img{
    width: 50px;
    border-radius: 50%;
}
.profile-info{
    display: flex;
    gap: 1rem;
}
.profile-info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Question-feedbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Question-feedbox button{
    width: 80px;
    font-size: 1rem;
    background-color: #e23a34;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.Question-feedbox h3{
    text-align: justify;
    font-weight: 300;
}
.Answer-feedbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y:scroll;
    padding: 3px 5px;
}
.Answer-feedbox .image{
    width: 80%;
}
.Answer-feedbox img{
    width: 100%;
}
.Answer-feedbox p{
    text-align: justify;
}
.Feed-footer{
    display: flex;
    gap: 1rem;
    margin-top: 0.4rem;
}
.vote{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 5px 15px ;
    gap: 0.7rem;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
}
.vote .MuiSvgIcon-root:hover{
    color: #c92e29;
}
.vote .Upvote{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.vote .Upvote h5{
    font-size: 0.8rem;
}
.vote .Downvote{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Feed-footer .Message{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Share .MuiSvgIcon-root:hover{
    color: #c92e29;
}
.Feed-footer .Share{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Message .MuiSvgIcon-root:hover{
    color: #c92e29;
}
/* Modal */
.modal-ans{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.modal-ans input{
    width: 19rem;
    padding: 10px;
    outline: none;
}
.modal-btn{
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.modal-btn button{
    width: 90px;
    padding: 7px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #e23a34;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* Mobile */

@media (max-width: 477px) {
    .Profile-FeedBox{
        padding: 3px;
        margin-top: 5px;
        gap: 0.5rem;

    }
    .profile-info img{
    width: 40px;
}
.Question-feedbox button{
    width: 67px;
    font-size: 0.8rem;
}
.Question-feedbox h3{
    padding: 4px;
    font-weight: 300;
}
.Answer-feedbox .image{
    width: 50%;
}
.vote .MuiSvgIcon-root{
    font-size: 1.5rem;
}
.vote{
    width: 60%;
}
.Message .MuiSvgIcon-root{
    font-size: 1.5rem;
}
.Share .MuiSvgIcon-root{
    font-size: 1.5rem;
}
}