body{
    background-color: #F1F2F2;
}
.quora-content{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.Quora{
    height: auto;
}

/* Mobile */
@media (max-width: 477px) {
    .quora-content{
        margin-top: 10px;
    }
}